In [9]:
import os
from os.path import join, dirname
from dotenv import load_dotenv

dotenv_path = join(dirname("DECOUVERTE_REQUESTS"), '.env')
load_dotenv(dotenv_path)

API_KEY = os.environ.get("API_KEY")

In [10]:
import requests
import pandas as pd

# Liste des villes à géocoder
villes = ["Paris", "Marseille", "Lyon", "Toulouse", "Nice", "Nantes", "Strasbourg", "Montpellier", "Bordeaux", "Lille",
          "Rennes", "Reims", "Le Havre", "Saint-Étienne", "Toulon", "Grenoble", "Dijon", "Angers", "Nîmes", "Villeurbanne"]

# Clé d'API Geocoding de OpenWeatherMap
api_key = API_KEY

# Création d'un DataFrame vide pour stocker les coordonnées géographiques
coords_df = pd.DataFrame(columns=["ville", "latitude", "longitude"])

# Boucle sur les villes pour récupérer les coordonnées géographiques
for ville in villes:
    # Requête vers l'API Geocoding de OpenWeatherMap
    url = f"http://api.openweathermap.org/geo/1.0/direct?q={ville}&limit=1&appid={api_key}"
    response = requests.get(url)
    data = response.json()

    # Récupération des coordonnées géographiques
    if data:
        lat = data[0]["lat"]
        lng = data[0]["lon"]
        coords_df = pd.concat([coords_df, pd.DataFrame([[ville, lat, lng]], columns=["ville", "latitude", "longitude"])])
    else:
        print(f"Erreur lors de la récupération des coordonnées de {ville}")

# Jointure des coordonnées géographiques avec les données météorologiques
df = pd.read_csv("meteo_top_20_villes_fr.csv")
df = pd.merge(df, coords_df, on="ville")

In [11]:
df

,ville,temperature,temperature_res,temperature_min,temperature_max,pression,humidite,vent_vitesse,vent_direction,lever_soleil,coucher_soleil,latitude,longitude
0,Paris,7.31,3.77,6.32,8.62,1027,66,6.17,60,07:24:51,20:22:48,48.858890,2.320041
1,Marseille,15.12,13.89,12.75,16.03,1012,46,3.12,308,07:16:58,20:05:29,43.296174,5.369953
2,Lyon,4.93,2.67,4.72,6.04,1020,93,2.68,96,07:18:42,20:11:05,45.757814,4.832011
3,Toulouse,10.87,10.00,9.34,10.99,1022,76,5.66,310,07:32:58,20:21:56,43.604462,1.444247
4,Nice,9.03,7.86,8.34,10.42,1010,29,2.25,202,07:09:27,19:58:59,43.700936,7.268391
5,Nantes,7.78,4.97,7.22,9.27,1026,71,4.63,50,07:42:06,20:37:00,47.218637,-1.554136
6,Strasbourg,7.00,3.37,5.87,8.48,1026,61,6.17,60,07:03:34,20:00:56,48.584614,7.750713
7,Montpellier,16.54,15.35,15.29,16.71,1015,42,8.23,10,07:23:14,20:12:11,43.611242,3.876734
8,Bordeaux,12.15,11.14,12.15,12.97,1023,66,3.09,10,07:40:04,20:31:01,44.841225,-0.580036
9,Lille,8.66,5.31,7.18,9.41,1029,55,6.69,60,07:20:16,20:21:42,50.636565,3.063528
10,Rennes,5.02,2.46,5.02,5.02,1027,81,3.09,70,07:41:32,20:38:14,48.111339,-1.680020
11,Reims,7.87,3.70,6.41,7.88,1027,57,8.75,70,07:17:38,20:16:09,49.257789,4.031926
12,Le Havre,8.51,5.67,7.86,8.51,1028,61,5.14,60,07:33:11,20:32:23,49.493898,0.107973
13,Saint-Étienne,4.54,2.14,3.26,4.56,1020,92,2.76,346,07:19:18,20:11:08,45.440147,4.387306
14,Toulon,17.27,16.51,16.25,18.89,1011,56,2.68,234,07:15:24,20:03:35,43.125731,5.930492
15,Grenoble,0.31,-2.69,0.31,2.11,1018,89,2.53,336,07:14:15,20:05:32,45.187560,5.735782
16,Dijon,4.95,0.97,4.85,7.40,1023,81,5.66,20,07:15:37,20:10:42,47.321581,5.041470
17,Angers,8.74,6.26,7.01,8.78,1026,74,4.42,55,07:37:43,20:33:07,47.473988,-0.551559
18,Nîmes,13.85,12.62,13.05,14.31,1015,51,8.23,10,07:20:50,20:10:16,43.837425,4.360069
19,Villeurbanne,8.05,4.07,7.13,8.52,1020,81,8.23,350,07:17:29,20:09:54,45.773357,4.886845

In [12]:
df.to_csv("meteo_top_20_villes_fr.csv", index=False)