# Découverte de la librairie requests

#### Chargement des variables d'environnement

In [1]:
import os
from os.path import join, dirname
from dotenv import load_dotenv

dotenv_path = join(dirname("DECOUVERTE_REQUESTS"), '.env')
load_dotenv(dotenv_path)

API_KEY = os.environ.get("API_KEY")

#### Import des librairies

In [2]:
import requests
import pandas as pd
from datetime import datetime

#### Test de l'API OpenWeatherMap "Current Weather" (Built-in API request by city name)

In [3]:
url = 'http://api.openweathermap.org/data/2.5/weather'
api_key = API_KEY
city = 'London'

params = {'q': city, 'appid': api_key, 'units': 'metric'}

response = requests.get(url, params=params)

if response.status_code == 200:
    data = response.json()
    temperature = data['main']['temp']
    print(f"The temperature in {city} is {temperature}°C.")
else:
    print('Error getting weather data')

The temperature in London is 10.32°C.

#### Requête des données météo des 20 plus grandes villes françaises

In [4]:
# Clé API OpenWeatherMap
api_key = API_KEY

# Liste des villes pour lesquelles nous voulons récupérer les informations
villes = ["Paris", "Marseille", "Lyon", "Toulouse", "Nice", "Nantes", "Strasbourg", "Montpellier", "Bordeaux", "Lille", "Rennes", "Reims", "Le Havre", "Saint-Étienne", "Toulon", "Grenoble", "Dijon", "Angers", "Nîmes", "Villeurbanne"]

# Fonction pour récupérer les informations météorologiques pour une ville donnée
def get_weather_info(ville):
    url = f"http://api.openweathermap.org/data/2.5/weather?q={ville}&appid={api_key}&units=metric"
    response = requests.get(url)
    data = response.json()
    # Récupération des informations nécessaires
    temperature = data["main"]["temp"]
    temperature_res = data["main"]["feels_like"]
    temperature_min = data["main"]["temp_min"]
    temperature_max = data["main"]["temp_max"]
    pression = data["main"]["pressure"]
    humidite = data["main"]["humidity"]
    vent_vitesse = data["wind"]["speed"]
    vent_direction = data["wind"]["deg"]
    lever_soleil_timestamp = data["sys"]["sunrise"]
    coucher_soleil_timestamp = data["sys"]["sunset"]
    # Conversion des timestamps en horaires compréhensibles pour un humain
    lever_soleil = datetime.fromtimestamp(lever_soleil_timestamp).strftime("%H:%M:%S")
    coucher_soleil = datetime.fromtimestamp(coucher_soleil_timestamp).strftime("%H:%M:%S")
    # Stockage des données dans un dictionnaire
    ville_data = {"ville": ville,
                  "temperature": temperature,
                  "temperature_res": temperature_res,
                  "temperature_min": temperature_min,
                  "temperature_max": temperature_max,
                  "pression": pression,
                  "humidite": humidite,
                  "vent_vitesse": vent_vitesse,
                  "vent_direction": vent_direction,
                  "lever_soleil": lever_soleil,
                  "coucher_soleil": coucher_soleil}
    return ville_data

#### Création du dataframe

In [5]:
# Boucle pour récupérer les informations pour toutes les villes
data_list = []
for ville in villes:
    ville_data = get_weather_info(ville)
    data_list.append(ville_data)

# Création du DataFrame pandas
df = pd.DataFrame(data_list)

### Affichage du dataframe

In [6]:
df

,ville,temperature,temperature_res,temperature_min,temperature_max,pression,humidite,vent_vitesse,vent_direction,lever_soleil,coucher_soleil
0,Paris,9.31,6.15,8.39,11.04,1026,58,6.69,50,07:24:51,20:22:48
1,Marseille,16.57,15.30,13.42,17.14,1011,39,4.92,309,07:16:58,20:05:29
2,Lyon,6.37,4.74,5.75,7.03,1020,87,2.24,90,07:18:42,20:11:05
3,Toulouse,11.92,10.89,10.98,11.99,1021,66,6.69,310,07:32:58,20:21:56
4,Nice,10.70,8.69,8.34,12.26,1010,33,3.06,161,07:09:27,19:58:59
5,Nantes,7.96,4.98,7.81,8.72,1025,76,5.14,60,07:42:06,20:37:00
6,Strasbourg,7.50,3.50,6.84,9.45,1026,57,7.72,50,07:03:34,20:00:56
7,Montpellier,16.83,15.64,16.29,16.94,1014,41,6.69,340,07:23:14,20:12:11
8,Bordeaux,12.15,11.04,12.15,14.63,1023,62,2.06,60,07:40:04,20:31:01
9,Lille,10.46,8.84,8.54,11.79,1028,49,6.17,50,07:20:16,20:21:42
10,Rennes,6.02,3.34,6.02,8.65,1027,75,3.60,50,07:41:32,20:38:14
11,Reims,8.88,5.44,8.41,9.47,1026,57,7.20,70,07:17:38,20:16:09
12,Le Havre,9.51,7.34,8.86,9.51,1027,61,4.12,80,07:33:11,20:32:23
13,Saint-Étienne,5.55,2.38,4.29,5.56,1019,80,4.28,5,07:19:18,20:11:08
14,Toulon,17.41,16.67,15.70,21.51,1010,56,4.63,210,07:15:24,20:03:35
15,Grenoble,1.98,-0.68,1.98,3.22,1018,92,2.50,332,07:14:15,20:05:32
16,Dijon,5.97,2.26,5.85,9.06,1022,81,5.66,10,07:15:37,20:10:42
17,Angers,10.39,9.26,8.01,10.45,1025,68,4.41,54,07:37:43,20:33:07
18,Nîmes,15.09,13.99,13.10,15.31,1014,51,9.26,360,07:20:50,20:10:16
19,Villeurbanne,8.53,4.56,7.97,9.46,1020,81,8.75,350,07:17:29,20:09:54

#### Export des données dans un fichier csv

In [7]:
df.to_csv("meteo_top_20_villes_fr.csv", index=False)

### Création de la base de données SQL

In [11]:
import sqlite3

connexion = sqlite3.connect('meteo.db')
curseur = connexion.cursor()

curseur.execute('''
            CREATE TABLE IF NOT EXISTS ville_data (
        ville TEXT NOT NULL, 
        temperature FLOAT NOT NULL, 
        temperature_res FLOAT NOT NULL, 
        temperature_min FLOAT NOT NULL,
        temperature_max FLOAT NOT NULL, 
        pression INTEGER NOT NULL, 
        humidite INTEGER NOT NULL, 
        vent_vitesse FLOAT NOT NULL,
        vent_direction INTEGER NOT NULL, 
        lever_soleil TEXT NOT NULL, 
        coucher_soleil TEXT NOT NULL)
''')

for index, row in df.iterrows():
    curseur.execute('''
                    INSERT OR REPLACE INTO ville_data 
                        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
                    ''',(row['ville'], row['temperature'], row['temperature_res'], row['temperature_min'], 
               row['temperature_max'], row['pression'], row['humidite'], row['vent_vitesse'], 
               row['vent_direction'], row['lever_soleil'], row['coucher_soleil']))
connexion.commit()
connexion.close()